# Base
aniso8601==7.0.0
asgiref==3.2.10
promise==2.3
Pillow==8.0.0
pytz==2020.1
Rx==1.6.1
singledispatch==3.4.0.3
six==1.15.0
sqlparse==0.4.1
Unidecode==1.1.1

# Django
Django==3.1.2
django-filter==2.4.0
dj-database-url==0.5.0

# Deploy
django-heroku==0.3.1

# Environment
django-environ==0.4.5

# graphene
graphene==2.1.8
graphene-django==2.13.0
graphql-core==2.3.2
graphql-relay==2.0.1

